#aboutSection {
    margin-top: 6000px;
}

.about-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    overflow: hidden;
}

.about-rg-text {
    color: var(--dark-text);
    align-self: flex-end;
    font-family: var(--inter-regular-font);
    font-size: clamp(1rem, 0.722rem + 1.39vw, 3.5rem);
    width: 40%;
    margin-top: 5vh;
    text-wrap: balance;
}
.about-tiles-container {
    border-top: 1px solid var(--dark-gray);
    margin: 10vh 0 20vh 0;
}